@font-face {
    font-family: "Noto Sans", serif;
    font-weight: 400;
    src: url('/fonts/NotoSansKR-Regular.otf');
}
@font-face {
    font-family: "Noto Sans", serif;
    font-weight: 300;
    src: url('/fonts/NotoSansKR-Light.otf');
}
@font-face {
    font-family: "Noto Sans", serif;
    font-weight: 700;
    src: url('/fonts/NotoSansKR-Bold.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", "Malgun Gothic", serif;
}
ol, ul { list-style: none; }
a, a:hover { text-decoration: none; }

.contents {
    background-color: #f8f8f8; 
    max-width: 1920px;
    height: calc(100vh - 200px);
    margin: 80px auto 0;
    padding: 0 128px;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrap {
    max-width: 1920px;
    padding: 0 48px;
    margin: 0 auto;
}

.position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.position-center-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.position-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.left-0 { left: 0; }
.top-0 { top: 0; }
.bottom-0 { bottom: 0; }
.right-0 { right: 0; }

.fx-n4 { font-size: 0.8em; }
.fx-n3 { font-size: 0.85em; }
.fx-n2 { font-size: 0.9em; }
.fx-n1 { font-size: 0.95em; }

.fx-1 { font-size: 1em; }
.fx-2 { font-size: 1.1em; }
.fx-3 { font-size: 1.2em; }
.fx-4 { font-size: 1.4em; }
.fx-5 { font-size: 1.6em; }
.fx-6 { font-size: 1.8em; }
.fx-7 { font-size: 2em; }
.fx-8 { font-size: 2.2em; }
.fx-9 { font-size: 2.6em; }